*				  text=auto

docs/**   -linguist-documentation linguist-detectable
docs/**.html linguist-detectable
*.txt     linguist-detectable linguist-language=AdBlock

*.json    -linguist-detectable
*.md      -linguist-detectable
*.svg     -linguist-detectable
*.xml     -linguist-detectable
