*		  	 text=auto

docs/**  -linguist-documentation
*.txt    linguist-detectable linguist-language=AdBlock eol=lf
*.adbt   linguist-detectable linguist-language=AdBlock eol=lf
*.adbm   linguist-language=JSON
