*				  text=auto

docs/**   linguist-detectable -linguist-documentation
docs/*.js linguist-detectable
*.txt     linguist-detectable linguist-language=AdBlock
*.json    -linguist-detectable
*.md      -linguist-detectable
*.svg     -linguist-detectable
*.xml     -linguist-detectable
